[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl.git
[submodule ".vim/bundle/html5-syntax"]
	path = .vim/bundle/html5-syntax
	url = https://github.com/othree/html5-syntax.vim.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git://github.com/elzr/vim-json.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-dockerfile"]
	path = .vim/bundle/vim-dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-rust"]
	path = .vim/bundle/vim-rust
	url = https://github.com/wting/rust.vim.git
[submodule ".vim/bundle/editorconfig"]
	path = .vim/bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/nvim/bundle/vim-git"]
	path = .config/nvim/bundle/vim-git
	url = https://github.com/tpope/vim-git
[submodule ".config/nvim/bundle/vim-colors-solarized"]
	path = .config/nvim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".config/nvim/bundle/vim-surround"]
	path = .config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".config/nvim/bundle/gundo"]
	path = .config/nvim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule ".config/nvim/bundle/vim-docker"]
	path = .config/nvim/bundle/vim-docker
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule ".config/nvim/bundle/vim-tmux"]
	path = .config/nvim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule ".config/nvim/bundle/vim-vagrant"]
	path = .config/nvim/bundle/vim-vagrant
	url = https://github.com/markcornick/vim-vagrant
[submodule ".vim/bundle/caddy.vim"]
	path = .vim/bundle/caddy.vim
	url = https://github.com/zsiciarz/caddy.vim.git
[submodule ".vim/bundle/vimpager"]
	path = .vim/bundle/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule ".vim/bundle/vim-solarized8"]
	path = .vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8.git
[submodule ".vim/bundle/vim-tmux"]
	path = .vim/bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux.git
[submodule ".vim/bundle/Jenkinsfile-vim-syntax"]
	path = .vim/bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax.git
