# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.

# Ignore everything by default.
*

# README with extra information
!README.md

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bashrc
!.alias
!.profile
# SSH agent starter
!.ssh-agent

# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore
!.gitmodules

# Mercurial config
!.hgrc

# IPython config (need directory here so gitignore works correctly.
# This won't actually pull in the other contetns of the dir, though.
# Which is good as all I care about is the...
!.ipython
# ipythonrc file!
!.ipython/ipythonrc

# GNU readline config
!.inputrc

# Vim plugins, ftplugins, syntax etc etc
!.vim
# Vim settings
!.vimrc

# Bin files (few and far between)
!bin
!bin/*
# Man files
!share
!share/man
!share/man/man1
!share/man/man1/*

# MOC
!.moc
!.moc/*

# Python's virtual envs
!env
!env/postactivate

# Screen RCfile
!.screenrc
# tmux file
!.tmux.conf

# Fonts
!.fonts
!.fonts/*
