[user]
	name = Gert Van Gool
	email = gertvangool@gmail.com
[color]
	ui = auto
[color "branch"]
	current = "#2aa198 reverse"
	local = "#2aa198"
	remote = "#859900"
[color "interactive"]
	meta = "#b58900 bold"
	frag = "#d33682 bold"
	old = "#dc322f bold"
	new = "#859900 bold"
	whitespace = "#dc322f reverse"
[color "status"]
	added = "#b58900"
	changed = "#859900"
	untracked = "#2aa198"
[alias]
	ci = commit
	s = status -s
	st = status
	co = checkout
	ba = branch -a
	pp = "!git pull --rebase && git push"
	git = !git
	gh = !gh
	pr = !gh pr
	log1 = log --pretty=oneline --abbrev-commit
	changelog = "!git log $(git describe --tags --abbrev=0)..HEAD --pretty=format:\" * %s\""
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; $EDITOR `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	edit-modified= "!f() { git ls-files --modified | sort -u ; }; $EDITOR `f`"
	add-modified= "!f() { git ls-files --modified | sort -u ; }; git add `f`"
	add-empty-dirs = "!f() { for dir in `find $@ -type d -empty`; do echo \"*\n!.gitignore\" > $dir/.gitignore; git add $dir/.gitignore; done }; f"
	rm-deleted = "!git rm $(git status | grep deleted | cut -f 2 -d ':' | sed 's/ //g')"
	tag-date = !GIT_COMMITTER_DATE=$(git show --format=%aD  | head -1) git tag
	b = branch -vvv
	l = log --pretty=oneline --abbrev-commit
	update-main = !test "$(git branch --show-current)" = 'main' && git merge origin/main --ff-only || git fetch . origin/main:main
	diff-branch-only = !git diff $(git merge-base $(git branch --show-current) main) $(git branch --show-current)
[push]
	default = current
	autoSetupRemote = true
[core]
	autocrlf = input
[diff]
	renames = copies
	mnemonicprefix = true
[diff "gpg"]
	textconv = gpg -v
	xfuncname = "^((pub|uid) .*)"
[branch]
	autosetupmerge = true
	autosetuprebase = always
[url "https://github.com/"]
	insteadOf = "gh:"
[url "https://github.com/"]
	insteadOf = "ghg:"
[url "https://github.com/"]
	insteadOf = "git://github.com/"
[url "git@github.com:"]
	insteadOf = "ghp:"
[init]
	defaultBranch = main
