# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.

# Ignore everything by default.
*
!.tmp
!.tmp/*
# Generic .config directory
!.config

# README with extra information
!README.rst

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bashrc
!.alias
!.profile
# SSH agent starter
!.ssh-agent

# Git aliases, identification info
!.gitconfig
!.gitattributes
# The gitignore of this repository itself (!)
!.gitignore
!.gitmodules

# Mercurial config
!.hgrc

# IPython config (need directory here so gitignore works correctly.
# This won't actually pull in the other contetns of the dir, though.
# Which is good as all I care about is the...
!.ipython
# ipythonrc file!
!.ipython/ipythonrc

# GNU readline config
!.inputrc

# Vim plugins, ftplugins, syntax etc etc
!.vim
# Vim settings
!.vimrc
# neovim config
!.config/*
!.config/nvim
!.config/nvim/*
!.config/nvim/bundle/*

# Bin files (few and far between)
!bin
!bin/*
bin/*.pyc
# Man files
!share
!share/*

# MOC
!.moc
!.moc/*

# Python's virtual envs
!env
!env/postactivate

# Screen RCfile
!.screenrc
# tmux file
!.tmux
!.tmux/*
!.tmux.conf*

# Fonts
!.fonts
!.fonts/*

# ZSH
!.zprezto
!.zshrc
!.zlogin
!.zlogout
!.zpreztorc
!.zprofile
!.zshenv
!.zprompts
!.zprompts/*

# More RC files
!.wgetrc
!.osx
!.slate
!Brewfile
!.dockerfunc
