[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/tpope/vim-colors-solarized
	ignore = dirty
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-git"]
	path = .vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
