[user]
	name = Gert Van Gool
	email = gertvangool@gmail.com
[color]
	ui = auto
[color "branch"]
	current = cyan reverse
	local = cyan
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	ci = commit
	s = status -s
	st = status
	co = checkout
	ba = branch -a
	pp = "!git pull --rebase && git push"
	git = !git
	log1 = log --pretty=oneline --abbrev-commit
	changelog = "!git log $(git describe --tags --abbrev=0)..HEAD --pretty=format:\" * %s\""
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	edit-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; $EDITOR `f`"
	add-unmerged = "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"
	edit-modified= "!f() { git ls-files --modified ; }; $EDITOR `f`"
	add-modified= "!f() { git ls-files --modified ; }; git add `f`"
	add-empty-dirs = "!f() { for dir in `find $@ -type d -empty`; do echo \"*\n!.gitignore\" > $dir/.gitignore; git add $dir/.gitignore; done }; f"
	rm-deleted = "!git rm $(git status | grep deleted | cut -f 2 -d ':' | sed 's/ //g')"
	b = branch -vvv
[push]
	default = current
[core]
	autocrlf = input
[diff]
	renames = copies
	mnemonicprefix = true
[diff "gpg"]
	textconv = gpg -v
	xfuncname = "^((pub|uid) .*)"
[branch]
	autosetupmerge = true
	autosetuprebase = always
[url "https://github.com/"]
	insteadOf = "gh:"
[url "git://github.com/"]
	insteadOf = "ghg:"
[url "git@github.com:"]
	insteadOf = "ghp:"
