*
!.gitignore
# alacritty
!alacritty
!alacritty/*
# gh (https://cli.github.com)
!gh
!gh/config.yml
# terminal.app
!terminal.app
!terminal.app/*.terminal
# neovim config
!nvim
!nvim/*
!nvim/autoload/*
!nvim/bundle/*
#bin/world-clock
!world-clock.zones
